@{
    ViewData["Title"] = "Изтриване на промоция";
}

@model PromotionViewModel

<div class="container" style="margin-top: 2em;">
    <div class="row">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>@ViewData["Title"]</h2>
        </div>
        <hr />

        <div>
            <h3>Сигурни ли сте, че искате да изтриете тази промоция?</h3>
            <p><strong>Име:</strong> @Model.Name</p>
            <p><strong>Отстъпка:</strong> @Model.DiscountPercentage%</p>
            <p><strong>Период:</strong> @Model.StartDate.ToShortDateString() - @Model.EndDate.ToShortDateString()</p>

            <form asp-action="RemoveConfirmed" method="post">
                <input asp-for="Id" type="hidden" />
                <button type="submit" class="btn btn-danger">Изтрий</button>
                <a asp-action="Index" class="btn btn-warning">Отказ</a>
            </form>
        </div>
    </div>
</div>
