@page
@model LoginModel

@{
    ViewData["Title"] = "Вход";
}

<!-- SECTION -->
<div class="section py-5">
    <!-- container -->
    <div class="container">
        <h1 class="mb-4 text-left">@ViewData["Title"]</h1>
        <div class="row justify-content-center">
            <div class="col-md-5 mb-5">
                <section>
                    <form id="account" method="post" class="p-4 border rounded shadow-sm">
                        <h2 class="mb-4">Влез в профила си.</h2>
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>
                        <div class="form-floating mb-4" style="margin-top: 1em;">
                            <label asp-for="Input.Email" class="form-label">Имейл</label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="username@example.com" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-4" style="margin-top: 1em;">
                            <label asp-for="Input.Password" class="form-label">Парола</label>
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="******" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-check mb-4" style="margin-top: 1em;">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            <label asp-for="Input.RememberMe" class="form-check-label">
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <div class="mb-4">
                            <button id="login-submit" type="submit" class="btn btn-primary w-100" style="margin-top: 1em;">Вход</button>
                        </div>
                        <div class="text-left">
                            <ul class="list-group text-start" style="padding-top: 1em">
                                <li class="mb-2 loginLi">
                                    <a id="forgot-password" asp-page="./ForgotPassword" class="text-primary fw-bold">Забравена парола?</a>
                                </li>
                                <li class="mb-2 loginLi">
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-primary fw-bold">Регистрация на нов потребител</a>
                                </li>
                                <li class="mb-2 loginLi">
                                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="text-primary fw-bold">Изпрати повторно потвърждение по имейл</a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </section>
            </div>
            @* <div class="col-md-6 offset-md-1">
                <section class="p-4 border rounded shadow-sm">
                    <h3 class="mb-4">Използвайте друга услуга за вход.</h3>
                    @if ((Model.ExternalLogins?.Count) != 0)
                    {
                        <div class="d-grid gap-3">
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                <a class="btn btn-primary" asp-controller="Account" asp-action="ExternalLogin" asp-route-provider="@provider.Name" asp-route-returnUrl="@Model.ReturnUrl">
                                    Вход с @provider.Name
                                </a>
                            }
                        </div>
                    }

                </section>
            </div> NOT IMPLEMENTED! *@
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
