@model CategoryViewModel

<form method="get" asp-controller="Store" asp-action="Index">
    <div class="input-checkbox">
        <input type="checkbox" id="@Model.Id" name="categoryId" value="@Model.Id" onchange="this.form.submit();">
        <label for="@Model.Id">
            <span></span>
            @Model.Name
            <small>(@Model.ProductCount)</small>
        </label>
    </div>
</form>

