@using static ToyShop.Common.SiteData


<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Реално и вълшебно</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="~/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="~/css/nouislider.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/css/style.css" />
    <link type="text/css" rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <title>@ViewData["Title"]</title>
</head>

<body>
    <!-- HEADER -->
    <header>
        <!-- TOP HEADER -->
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li><a asp-action="Contacts" asp-controller="Home"><i class="fa fa-phone"></i> @GetPhoneNumber()</a></li>
                    <li><a asp-action="Contacts" asp-controller="Home"><i class="fa fa-envelope-o"></i> @GetEmail()</a></li>
                    <li><a asp-action="Contacts" asp-controller="Home"><i class="fa fa-map-marker"></i> @GetAddress()</a></li>
                </ul>
                <ul class="header-links pull-right">
                    <partial name="_LoginPartial"></partial>
                </ul>
            </div>
        </div>
        <!-- /TOP HEADER -->
        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">
                                <img src="~/img/logo.png" alt="ToyShop Logo" class="logo-animation">
                            </a>
                        </div>
                    </div>

                    <!-- /LOGO -->
                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search">
                            <form method="get" action="@Url.Action("Index", "Store")">
                                <!-- Category Select -->
                                <select class="input-select" name="globalCategory">
                                    <option value="">Всички</option>
                                    <option value="0">Играчки</option>
                                    <option value="1">Аксесоари</option>
                                    <option value="2">Декорации</option>
                                    <option value="3">Други</option>
                                </select>

                                <!-- Search Bar -->
                                <input class="input" placeholder="Търсене" name="query" type="text">

                                <!-- Hidden Filter -->
                                <input type="hidden" name="filter" id="filter">

                                <!-- Submit Button -->
                                <button class="search-btn fa fa-search" type="submit"></button>
                            </form>
                        </div>
                    </div>

                    <!-- /SEARCH BAR -->
                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            @if (User!.Identity!.IsAuthenticated)
                            {
                                <!-- Wishlist (only visible for logged-in users) -->
                                <div>
                                    <a asp-controller="Product" asp-action="Whishlist">
                                        <i class="fa fa-heart" style="color: black;"></i>
                                        <span style="color: black;">Любими</span>
                                        <div class="qty fav">0</div>
                                    </a>
                                </div>
                                <!-- /Wishlist -->
                                <!-- Cart (only visible for logged-in users) -->
                                <div>
                                    <a asp-controller="Cart" asp-action="Index">
                                        <i class="fa fa-shopping-cart" style="color: black;"></i>
                                        <span style="color: black;">Количка</span>
                                        <div class="qty cart">0</div>
                                    </a>
                                </div>


                                <!-- /Cart -->
                            }
                        </div>
                    </div>
                    <!-- /ACCOUNT -->

                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- /HEADER -->
    <!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container nav-container">
            <!-- responsive-nav -->
            <input type="checkbox" id="menu-toggle" />
            <label for="menu-toggle" class="menu-toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
                <!-- Add the text "Меню" inside the label -->
                <span class="menu-text">Меню</span>
            </label>
            <ul class="main-nav nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Начало</a></li>
                <li><a asp-area="" asp-controller="Store" asp-action="Index">Продукти</a></li>
                <li><a href="@Url.Action("Index", "Store", new { filter = "promotion-all" })">Промоции</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contacts">Контакти</a></li>
                <!-- Admin/Moderator only -->
                @if (!User?.IsInRole("Administrator") == true || User?.IsInRole("Moderator") == true)
                {
                    <li><a asp-area="" asp-controller="Order" asp-action="Index">Моите поръчки</a></li>                    
                    <li class="dropdown">
                        <a href="#" id="admin-dropdown-link">Админ <i class="fas fa-caret-down"></i></a>
                        <ul class="dropdown-menu" id="admin-dropdown-menu" style="display: none;">
                            <li><a href="/Order/Index">Поръчки</a></li>
                            <li><a href="/Product/Add"><i class="fas fa-plus-circle"></i> Продукт</a></li>
                            <li><a href="/Promotion/Index">Промоции</a></li>
                            <li><a href="/Category/Other">Други</a></li>
                        </ul>
                    </li>
                }
            </ul>

            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->
    <!-- RENDERBODY -->
    <div>
        @RenderBody()
    </div>
    <!-- /RENDERBODY -->
    <!-- NEWSLETTER -->
    <div id="newsletter" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="newsletter">
                        <p>Абонирай се за нашия<strong> БЮЛЕТИН</strong></p>
                        <form>
                            <input class="input" type="email" placeholder="Въведи своя имейл адрес">
                            <button class="newsletter-btn"><i class="fa fa-envelope"></i> Изпрати</button>
                        </form>
                        <ul class="newsletter-follow">
                            <li>
                                <a href="https://www.facebook.com/Realnoivalshebno" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /NEWSLETTER -->
    <!-- FOOTER -->
    <footer id="footer">
        <!-- top footer -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row footer-menu">
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">За нас</h3>
                            <ul class="footer-links">
                                <li> <a asp-action="About" asp-controller="Home">@GetAboutUs()</a></li>
                                <li><a asp-action="Contacts" asp-controller="Home"><i class="fa fa-map-marker"></i>@GetAddress()</a></li>
                                <li><a asp-action="Contacts" asp-controller="Home"><i class="fa fa-phone"></i>@GetPhoneNumber()</a></li>
                                <li><a asp-action="Contacts" asp-controller="Home"><i class="fa fa-envelope-o"></i>@GetEmail()</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix visible-xs"></div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Информация</h3>
                            <ul class="footer-links">
                                <li><a asp-action="Contacts" asp-controller="Home">Контакти</a></li>
                                <li><a asp-action="Privacy" asp-controller="Home">Политика</a></li>
                                <li><a asp-action="DeliveryAndReturning" asp-controller="Home">Доставка и връщане</a></li>
                                <li><a asp-action="Terms" asp-controller="Home">Условия</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Услуги</h3>
                            <ul class="footer-links">
                                <li><a href="#">Моят профил</a></li>
                                <li><a asp-action="Index" asp-controller="Cart">Количка</a></li>
                                <li><a asp-action="Whishlist" asp-controller="Product">Любими</a></li>
                                <li><a asp-action="Index" asp-controller="Order">Провери поръчка</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /top footer -->
        <!-- bottom footer -->
        <div id="bottom-footer" class="section">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        @* <ul class="footer-payments">
                        <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                        <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                        </ul> *@
                        <span class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;@GetFooterNote() Всички права запазени | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </span>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /bottom footer -->
    </footer>
    <!-- /FOOTER -->
    <!-- jQuery Plugins -->
    <script src="~/js/jquery.min.js"></script>  <!-- jQuery must come first -->
    <script src="~/js/bootstrap.min.js"></script> <!-- Bootstrap -->
    <script src="~/js/slick.min.js"></script> <!-- Slick slider -->
    <script src="~/js/nouislider.min.js"></script> <!-- noUiSlider -->
    <script src="~/js/jquery.zoom.min.js"></script> <!-- Zoom plugin -->
    <!-- Your custom scripts -->
    <script src="~/js/main.js"></script>
    <script src="~/js/site.js"></script> <!-- Ensure your site.js is loaded after jQuery and plugins -->
    <script src="~/js/searchBar.js"></script>
    <script src="~/js/admin-dropdown.js"></script>
    <!-- Optional: Countdown Script if you want to render countdowns on the page -->
    <!-- Section for additional scripts -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
