@model ToyShop.ViewModels.ProductInfoViewModel;

<div class="product">
    <div class="product-img">
        <!-- Product Image -->
        @if (!string.IsNullOrEmpty(@Model.ImageUrl))
        {
            <img src="@Model.ImageUrl" alt="@Model.ProductName">
        }
        else
        {
            <img src="~/img/no-image-available-02.jpg" alt="No Image Available">
        }

        <div class="product-label">
            <!-- Show promotion label if available -->
            @if (Model.DiscountPercentage.HasValue)
            {
                <span class="sale">@Model.DiscountPercentage%</span>
            }
            <span class="new">NEW</span>
        </div>
    </div>
    <div class="product-body">
        <p class="product-category">@Model.Category</p>
        <h3 class="product-name"><a href="@Url.Action("Details", "Product", new { id = Model.Id })">@Model.ProductName</a></h3>

        <!-- Product Price -->
        @if (Model.DiscountPercentage > 0)
        {
            var discountedPrice = Model.Price - (Model.Price * Model.DiscountPercentage / 100m);
            var cultureInfo = System.Globalization.CultureInfo.CreateSpecificCulture("bg-BG");

            <h4 class="product-price">
                @String.Format(cultureInfo, "{0:C}", discountedPrice)
                <del class="product-old-price">
                    @String.Format(cultureInfo, "{0:C}", Model.Price)
                </del>
            </h4>
        }
        else
        {
            <h4 class="product-price">@Model.Price.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("bg-BG"))</h4>
        }

        <!-- Product Rating -->
        <div class="product-rating">
            @for (int i = 0; i < 5; i++)
            {
                int counter = Model.Rating;

                if (i < counter)
                {
                    <i class="fa fa-star"></i>
                    counter--;
                }
                else
                {
                    <i class="fa fa-star-o"></i>
                }
            }
        </div>

        <!-- Product Buttons -->
        <div class="product-btns">
            <button class="add-to-wishlist">
                <i class="fa fa-heart-o"></i><span class="tooltipp">добави в любими</span>
            </button>
            <button class="add-to-compare">
                <i class="fa fa-exchange"></i><span class="tooltipp">сравни</span>
            </button>
            <button class="quick-view">
                <i class="fa fa-eye"></i><span class="tooltipp">преглед</span>
            </button>
        </div>
    </div>
    <div class="add-to-cart">
        <form asp-controller="Product" asp-action="AddToCart" method="post">
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit" class="add-to-cart-btn">
                <i class="fa fa-shopping-cart"></i> Купи
            </button>
        </form>
    </div>
</div>
