@model ProductInfoViewModel
@{
    ViewData["Title"] = "Изтриване";
}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">

        <div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
            <h2>@ViewData["Title"]</h2>
        </div>
        <hr />

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title" style="text-align: left;">@Model.ProductName</h3> <!-- Left-align product name -->
                        <p class="text-muted" style="text-align: left;">Добавено на: <strong>@Model.ReleasedOn</strong></p>
                        <p class="text-muted" style="text-align: left;">Категория: <strong>@Model.GlobalCategory</strong></p>
                        <p class="text-danger mt-3" style="text-align: left;">Сигурни ли сте, че искате да изтриете @(Model.ProductName)?</p>
                    </div>
                    <div class="card-footer" style="padding-top: 1em">
                        <form asp-controller="Product" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@Model.Id" />
                            <input type="hidden" name="productName" value="@Model.ProductName" />
                            <button type="submit" class="btn btn-danger">Потвърди изтриването</button>
                            <a href="javascript:window.history.back();" class="btn btn-warning d-flex justify-content-center align-items-center flex-fill mx-1">Отказ</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- container -->
</div>
<!-- SECTION -->
