@using Microsoft.AspNetCore.Identity
@model ProductInfoViewModel
@{
    ViewData["Title"] = "Преглед";
}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">

        <div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
            <h2>@ViewData["Title"]</h2>
        </div>
        <br />

        <div class="row justify-content-center" style="margin: 0 auto; max-width: 1440px;">
            <div class="col-md-4 text-center">
                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    // Check if the ImageUrl starts with "http" or "https" (external image URL)
                    if (Model.ImageUrl.StartsWith("http", StringComparison.OrdinalIgnoreCase))
                    {
                        // For external images, use the URL as is
                        <img src="@Model.ImageUrl" class="img-fluid" style="max-width: 100%; height: auto;" alt="@Model.ProductName" />
                    }
                    else
                    {
                        // For local images (within wwwroot), prepend the relative path if it starts with "/"
                        <img src="/@Model.ImageUrl" class="img-fluid" style="max-width: 100%; height: auto;" alt="@Model.ProductName" />
                    }
                }
                else
                {
                        // Default image when ImageUrl is null or empty
                    <img src="/img/no_img.png" class="img-fluid" style="max-width: 100%; height: auto;" alt="No Image Available" />
                }


            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Model.ProductName</h5>
                    <hr />
                    @if (Model.DiscountPercentage > 0)
                    {
                        var cultureInfo = System.Globalization.CultureInfo.CreateSpecificCulture("bg-BG");

                        <h6 class="card-subtitle mb-2 text-muted">
                            <del class="product-old-price">
                                @String.Format(cultureInfo, "{0:C}", Model.Price)
                            </del>
                            @String.Format(cultureInfo, "{0:C}", Model.PromotionalPrice)

                        </h6>
                    }
                    else
                    {
                        <h6 class="card-subtitle mb-2 text-muted">@Model.Price.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("bg-BG"))</h6>
                    }
                    <hr />
                    <p class="card-text">@Model.ShortDescription</p>
                    <hr />
                    <p class="card-text"><small class="card-text">@Model.Size</small></p>
                    <hr />
                    <p class="card-text">@Model.Description</p>
                    <p class="card-text"><small class="text-muted">Категория: @Model.GlobalCategory</small> / <small class="text-muted">Вид: @Model.Category</small></p>
                    <hr />
                    <p class="card-text"><small class="card-text">Добавен на: @Model.ReleasedOn / Налични: @Model.Quantity броя</small></p>
                    <hr />
                </div>
                <div class="card-footer text-center">
                    <div class="d-flex justify-content-around align-items-center">
                        <a href="javascript:window.history.back();" class="btn btn-warning d-flex justify-content-center align-items-center flex-fill mx-1">Назад</a>

                        @if (User?.Identity?.IsAuthenticated == true)
                        {
                            <a asp-controller="Product" asp-action="AddToCart" asp-route-id="@Model.Id" class="btn btn-success d-flex justify-content-center align-items-center flex-fill mx-1">Купи</a>
                        }
                        @if (!User?.IsInRole("Administrator") == true || User?.IsInRole("Moderator") == true)
                        {
                            <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary d-flex justify-content-center align-items-center flex-fill mx-1">Редакция</a>
                            <a asp-controller="Product" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger d-flex justify-content-center align-items-center flex-fill mx-1" onclick="return confirm('Are you sure you want to delete this product?');">Изтриване</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- container -->
</div>
<!-- SECTION -->
